// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './svgicon.scss';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.app-container {
  padding: 20px;
}


.u_f,
.u_f_ac,
.u_f_ajc,
.u_f_ajs,
.u_f_ajsv,
.u_f_aja {
	display: flex;
}

.u_f_ac,
.u_f_ajc,
.u_f_ajs,
.u_f_ajsv,
.u_f_aja {
	align-items: center;
}

.u_f_ajc {
	justify-content: center;
}

.u_f_ajs {
	justify-content: space-between;
}

.u_f_ajsv {
	justify-content: space-evenly;
}

.u_f_aja {
	justify-content: space-around;
}

.pr {
	position: relative;
}

p{
	margin: 0;
}
ul,
ol,
li {
	list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: #00B54D;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #00B54D;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover{
  color: #fff;
}
body .el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-pagination{
  text-align: center;
  margin-top: 14px;
}

.el-select-dropdown .el-select-dropdown__wrap {
  overflow-x: scroll;
}
.el-dialog--center .el-dialog__body{
  padding-top:0;
  padding-bottom:0;
  margin-top:25px;
  margin-bottom:25px;
}
.el-dialog{
  border-radius: 10px;
  height:547px
}
.el-dialog__header{
  border-bottom: 2px solid #E8EFEC;
}
.el-dialog__footer{
  border-top: 2px solid #E8EFEC;
  .el-button{
    margin-right: 30px;
  }
}

.el-input__inner {
  // border-color:#f0f0f0;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 6px;
  font-size: 16px;
}
html{
  min-width: 1340px;
}
.tc{
  text-align: center;
}
.el-input .el-input__count .el-input__count-inner{
  background-color: #f0f0f0;
}
.dangerFont{
  color:#ff2222;
}
.f12{
  font-size: 12px;
}
.el-button--text{
  color: #00B54D;
}
.el-button--text:active,.el-button--text:hover, .el-button--text:focus,.el-select-dropdown__item.selected{
  color:#13ce66
}
.el-input__inner:focus,.el-textarea__inner:focus,.el-select .el-input__inner:focus,.el-select .el-input.is-focus .el-input__inner{
  border-color:#13ce66
}
.header-icon{
  margin-right: 10px;
}
.el-tabs__item{
  font-weight: 400;
}
.el-tabs__item.is-active{
  font-weight: 700;
}
.el-button--success{
  background-color: #00B54D;
  border-color:#00B54D;
}
.el-button--success:hover, .el-button--success:focus{
  
  background-color: #13ce66;
  border-color:#13ce66;
}

.el-cascader .el-input.is-focus .el-input__inner,.el-cascader .el-input .el-input__inner:focus,.el-range-editor.is-active:hover,.el-range-editor.is-active{
  border-color: #13ce66;
}
.el-date-editor .el-range-input{
  background-color: #f0f0f0;
}
.el-date-editor .el-range-separator{
  width: 10%;
}